<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Audiowide&effect=3d-float"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Sofia&effect=fire"
/>
  <title>Relax CC</title>
</head>
<body>
  <div class="header" style="background-color: black;">
    <img src="/RCC/src/assets/RCC.jpg" style="float :left ;width: 128px; height: 128px;">
    <p class="font-effect-fire" style="font-size: 35px; font-style: italic;font-family:sofia, sans-serif;">Relax Cricet Club, Modakurichi</p>
    <div class="header-right">
    </div>
  </div>
  <div>
    <app-login></app-login>
  </div>
  <!-- <div *ngIf = "login() ? :">
  <app-home></app-home>
</div> -->
  
</body>
</html>